<body>
	<form>
		{{form}}
		<input type="submit" />
	</form>
</body>
<script>
	const url = "http://{{BACK_END_URL}}/account/login/";

	const $username = document.getElementById("username");
	const $password = document.getElementById("password");
	const $loginForm = document.querySelector("form");

	$loginForm.addEventListener("submit", async (e) => {
		e.preventDefault();
		const response = await fetch(url, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				username: $username.value,
				password: $password.value,
			}),
		});
		if (response.ok) {
			const data = await response.json();
			for (const key in data) {
				localStorage.setItem(key, data[key]);
			}
			window.location.href = "http://" + location.host;
		}
	});
</script>
