{% extends "content_base.html" %} {% block page_title %}
<h1 class="text-7xl items-start-start" onclick='location.href="{% url "rounge:postlist" %}"' style="cursor: pointer">LOGIN</h1>
{% endblock page_title %} {% block content %}
<div class="">
	<form method="POST" class="flex flex-col gap-16">
		<div class="inner-wrap flex flex-col justify-center items-center gap-4 inset-shadow">
			{% csrf_token %} {% for field in form %}
			<div class="flex flex-row w-4/5 h-14 items-center">
				<label class="w-36 shrink-0 text-xl">{{field.label}}</label>
				<div class="w-64 flex-1 field-detail flex flex-row justify-center">{{field}}</div>
			</div>
			{% endfor %}

			<div id="message_div">
				<div id="message_wrap"></div>
			</div>
		</div>
		<div class="flex flex-row justify-around">
			<input
				type="button"
				class="text-2xl transition ease-in-out bg-red-400 w-52 h-16 rounded-lg drop-shadow-lg shadow-black hover:bg-red-500 duration-200"
				value="취소"
				onclick="location.href='{% url 'main:index' %}'" />

			<input
				type="submit"
				class="text-2xl transition ease-in-out bg-blue-300 w-52 h-16 rounded-lg drop-shadow-lg shadow-black hover:bg-blue-500 duration-200"
				value="확인" />
		</div>
	</form>
</div>
{% endblock content %} {% block script_content %}
<script>
	const url = "http://{{ BACK_END_URL }}/account/login/";

	const $form = document.querySelector("form");
	const $username = document.getElementById("username");
	const $password = document.getElementById("password");

	$form.addEventListener("submit", async (e) => {
		e.preventDefault();
		const body_data = {
			username: $username.value,
			password: $password.value,
		};

		const response = await fetch(url, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(body_data),
		});
		if (response.ok == true) {
			const data = await response.json();
			for (const key in data) {
				localStorage.setItem(key, data[key]);
			}
			window.location.href = "http://" + location.host;
		} else {
			const $message_div = document.getElementById("message_div");
			$message_div.removeChild(document.getElementById("message_wrap"));
			const $message_wrap = document.createElement("div");
			$message_wrap.setAttribute("id", "message_wrap");
			const data = await response.json();
			for (const key in data) {
				const $message = document.createElement("p");
				$message.innerText = key + ": " + data[key];
				$message_wrap.appendChild($message);
			}
			$message_div.appendChild($message_wrap);
		}
	});
</script>

{% endblock script_content %}
