{% extends "content_base.html" %} {% block page_title %}
<h1 class="text-7xl items-start-start" onclick='location.href="{% url "rounge:postlist" %}"' style="cursor: pointer">ROUNGE</h1>
{% endblock page_title %} {% block content %}
<div class="w-full h-full rounded-2xl bg-white inset-shadow">
	<div class="box-border w-full h-full flex flex-col p-5 pt-14">
		<div class="h-8 flex flex-row justify-evenly font-bold bg-slate-300">
			<div class="flex w-36 flex-shrink-0 justify-center items-center">번호</div>
			<div class="flex flex-grow justify-center items-center">제목</div>
			<div class="flex w-36 flex-shrink-0 justify-center items-center">작성자</div>
			<div class="flex w-36 flex-shrink-0 justify-center items-center">작성일</div>
		</div>
		<div class="h-full overflow-y-auto">
			{% for post in data %}
			<div
				class="h-8 flex flex-row justify-evenly hover:bg-stone-200"
				onclick='location.href="{% url "rounge:postdetail" post.pk %}"'
				style="cursor: pointer">
				<div class="flex w-36 flex-shrink-0 justify-center items-center">{{post.pk}}</div>
				<div class="flex flex-grow items-center">{{post.title}}</div>
				<div class="flex w-36 flex-shrink-0 justify-center items-center">{{post.author}}</div>
				<div class="flex w-36 flex-shrink-0 justify-center items-center" name="datetime">{{post.created_at}}</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %} {% block script_content %}
<script>
	const $datetimes = document.getElementsByName("datetime");
	for (datetime in $datetimes) {
		$datetimes[datetime].innerText = $datetimes[0].innerText.replace("T", " ").substring(0, 10);
	}
</script>
{% endblock script_content %}
